*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media (max-width: 49em) {
  html {
    font-size: 50%;
  }
}

.App {
  font-family: "FF Bau Regular", san-serif;
  font-weight: 400;
  color: black;
  line-height: 2;
  font-size: 1.6rem;
}

.btn {
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  font-size: 1.4rem;
  background-color: #4B5548;
  color: #F5F5F4;
}

.btn:hover {
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
  color: white;
}

.header {
  height: 45vh;
  width: 100%;
  background-color: #F5F5F4;
}

@media (max-width: 49em) {
  .header {
    height: 50vh;
  }
}

.header .nav {
  height: 20%;
  margin: 0rem 5rem 0rem 3rem;
  border-bottom: 2px solid #E2E6E3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.4rem;
}

@media (max-width: 49em) {
  .header .nav {
    margin: 0 0 3rem 0;
    padding: 0 2rem;
  }
}

.header .nav-logo__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 49em) {
  .header .nav-logo__container {
    position: relative;
    width: 100%;
  }
}

.header .nav__logo {
  height: 4rem;
}

@media (max-width: 49em) {
  .header .nav__logo {
    display: none;
  }
}

.header .nav__list {
  margin-left: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  color: #59726F;
}

@media (max-width: 49em) {
  .header .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 3rem;
    left: 0;
    width: 100%;
    margin: 0;
  }
}

.header .nav__list li {
  padding: 0 2.5rem;
}

.header .nav__account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 49em) {
  .header .nav__account {
    font-size: 2rem;
  }
}

.header .nav__account--cart {
  margin: 0 2rem;
}

.header .nav__account select {
  padding: 0.5rem;
  border: 3px solid #E2E6E3;
}

.header__second-section {
  padding: 5rem 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 49em) {
  .header__second-section {
    display: block;
    padding: 10rem 5rem 5rem 5rem;
  }
}

.header__second-section--text__big {
  font-size: 5rem;
}

.header__second-section--text__small {
  font-size: 1.8rem;
}

@media (max-width: 49em) {
  .header__second-section--filter {
    margin: 5rem 0;
  }
}

.header__second-section--filter select {
  background-color: white;
  border: 3px solid #E2E6E3;
  padding: 0 1em;
  margin: 0;
  height: 5rem;
  width: 35rem;
  font-size: 1.7rem;
}

@media (max-width: 49em) {
  .header__second-section--filter select {
    width: 100%;
  }
}

.hamburger-menu {
  font-size: 2.5rem;
  position: absolute;
  left: 2%;
  cursor: pointer;
  display: none;
}

@media (max-width: 49em) {
  .hamburger-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
}

@media (max-width: 49em) {
  .normal-nav {
    display: none;
  }
}

.product {
  min-height: 55VH;
  background-color: #E2E6E3;
  padding-top: 5rem;
}

.product .product-container {
  width: 90%;
  margin: 0 auto 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 5rem;
}

@media (max-width: 49em) {
  .product .product-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
}

.product .product-1 {
  text-align: center;
  line-height: 1.5;
  padding: 1rem;
}

.product .product-1__img {
  height: 10rem;
}

@media (max-width: 49em) {
  .product .product-1__img {
    height: 7rem;
  }
}

.product .product-1__title {
  font-size: 1.3rem;
  margin: .8rem 0;
}

@media (max-width: 49em) {
  .product .product-1__title {
    font-size: 1.5rem;
  }
}

.product .product-1__price {
  font-size: 2.3rem;
  margin-bottom: 1.5rem;
}
/*# sourceMappingURL=index.css.map */