.header {
  height: 50vh;
  width: 100%;
  background-color: $primary-color;
  @include small-screen {
    height: 50vh;
  }
  .nav {
    position: fixed;
    background-color: $primary-color;
    z-index: 20;
    height: 15%;
    width: 100%;
    padding: 0rem 5rem 0rem 3rem;
    border-bottom: 2px solid $light-grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    @include small-screen {
      margin: 0 0 3rem 0;
      padding: 0 2rem;
    }

    &-logo__container {
      display: flex;
      align-items: center;

      @include small-screen {
        position: relative;
        width: 100%;
      }
    }

    &__logo {
      height: 4rem;
      @include small-screen {
        display: none;
      }
    }
    &__list {
      margin-left: 4rem;
      display: flex;
      list-style: none;
      color: $primary-text-color;
      @include small-screen {
        display: flex;
        flex-direction: column;
        background-color: white;
        position: absolute;
        top: 4.5rem;
        left: 0;
        width: 40rem;
        margin: 0;
        font-size: 2rem;
      }

      li {
        padding: 0 2.5rem;
      }
    }
    &__account {
      display: flex;
      align-items: center;
      @include small-screen {
        font-size: 2rem;
      }
      &--cart {
        margin: 0 2rem;
        font-size: 2.5rem;
        position: relative;
        .item__count {
          position: absolute;
          display: grid;
          place-items: center;
          border-radius: 50%;
          font-size: 1.5rem;
          height: 1.4rem;
          width: 1.4rem;
          top: 0;
          right: -50%;
        }
      }
      select {
        padding: 0.5rem;
        border: 3px solid $light-grey;
        //   color: $primary-text-color;
      }
    }
  }

  &__second-section {
    padding: 15rem 10rem 5rem 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include small-screen {
      display: block;
      padding: 15rem 5rem 5rem 5rem;
    }
    &--text {
      &__big {
        font-size: 5rem;
      }
      &__small {
        font-size: 1.8rem;
      }
    }
    &--filter {
      // width: 15rem;
      @include small-screen {
        margin: 5rem 0;
      }
      select {
        background-color: white;
        border: 3px solid $light-grey;
        padding: 0 1em;
        margin: 0;
        height: 5rem;
        width: 35rem;
        font-size: 1.7rem;
        @include small-screen {
          width: 100%;
        }
      }
    }
  }
}

.hamburger-menu {
  font-size: 2.5rem;
  position: absolute;
  left: 2%;
  cursor: pointer;
  display: none;

  @include small-screen {
    display: flex;
    // position: relative;
    width: 100%;
  }
}

.normal-nav {
  @include small-screen {
    display: none;
  }
}
