.product {
  min-height: 55vh;
  background-color: $light-grey;
  padding-top: 5rem;
  // max-width: 1300px;
  .product-container {
    width: 100%;
    margin: 0 auto 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // grid-row-gap: 5rem;
    // grid-column-gap: 3rem;
    @include small-screen {
      grid-template-columns: repeat(2, 1fr);
      width: 100%;
      // grid-column-gap: .5rem;
      grid-row-gap: 1rem;
    }
  }
  .product-1 {
    text-align: center;
    line-height: 1.5;
    padding: 3rem 2rem;
    @include small-screen {
      padding: 1rem;
    }
    &__img {
      height: 8rem;
      @include small-screen {
        height: 7rem;
      }
    }
    &__title {
      font-size: 1.3rem;
      margin: 0.8rem 0;
      @include small-screen {
        font-size: 1.5rem;
      }
    }
    &__price {
      font-size: 2.3rem;
      margin-bottom: 1.5rem;
    }
    &__btn {
      btn-width {
        width: 60%;
        @include small-screen {
          width: 80%;
        }
      }
    }
  }
}
